In [2]:
#Info about the dataset
import pandas as pd
types = {'Unnamed: 0': 'int',
 'mmsi': 'float32',
 'timestamp': 'float32',
 'distance_from_shore': 'float32',
 'distance_from_port': 'float32',
 'speed': 'float16',
 'course': 'float16',
 'lat': 'float16',
 'lon': 'float16',
 'en_DJF': 'float16',
 'en_JFM': 'float16',
 'en_FMA': 'float16',
 'en_MAM': 'float16',
 'en_AMJ': 'float16',
 'en_MJJ': 'float16',
 'en_JJA': 'float16',
 'en_JAS': 'float16',
 'en_ASO': 'float16',
 'en_ASO': 'float16',
 'en_OND': 'float16',
 'en_NDJ': 'float16'}
data1 = pd.read_csv('final_data_table.csv', dtype=types)

In [ ]:
# How did we join this data? Between two datasets on year
# What column is illegal fishing? is_fishing

# ONI indicators Oceanic Niño Indices 
# en_DJF_choices = [-0.9, -0.4, -0.4, 0.5, 2.5]
# en_JFM_choices = [-0.7, -0.4, -0.5, 0.5, 2.1]
# en_FMA_choices = [-0.6, -0.3, -0.3, 0.5, 1.6]
# en_MAM_choices = [-0.5, -0.3, 0.0, 0.7, 0.9]
# en_AMJ_choices = [-0.3, -0.4, 0.2, 0.9, 0.4]
# en_MJJ_choices = [0.0, -0.4, 0.2, 1.2, -0.1]
# en_JJA_choices = [0.2, -0.4, 0.0, 1.5, -0.4]
# en_JAS_choices = [0.4, -0.3, 0.1, 1.9, -0.5]
# en_ASO_choices = [0.4, -0.3, 0.2, 2.2, -0.6]
# en_SON_choices = [0.3, -0.2, 0.5, 2.4, -0.7]
# en_OND_choices = [0.1, -0.2, 0.6, 2.6, -0.7]
# en_NDJ_choices = [-0.2, -0.3, 0.7, 2.6, -0.6]

In [9]:
print(data1.columns)
print(len(data1))

Index(['Unnamed: 0', 'mmsi', 'timestamp', 'distance_from_shore',
       'distance_from_port', 'speed', 'course', 'lat', 'lon', 'is_fishing',
       'source', 'geartype', 'date', 'en_DJF', 'en_JFM', 'en_FMA', 'en_MAM',
       'en_AMJ', 'en_MJJ', 'en_JJA', 'en_JAS', 'en_ASO', 'en_SON', 'en_OND',
       'en_NDJ'],
      dtype='object')
28581398

In [4]:
data1.describe()

,Unnamed: 0,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,...,en_FMA,en_MAM,en_AMJ,en_MJJ,en_JJA,en_JAS,en_ASO,en_SON,en_OND,en_NDJ
count,2.858140e+07,2.858140e+07,2.858140e+07,2.858140e+07,2.858140e+07,2.858120e+07,2.858120e+07,2.858140e+07,2.858140e+07,2.858140e+07,...,2.858140e+07,2.858140e+07,2.858140e+07,2.858140e+07,2.858140e+07,2.858140e+07,2.858140e+07,2.858140e+07,2.858140e+07,2.858140e+07
mean,4.644353e+06,1.360020e+14,1.260568e+09,3.755596e+05,5.178790e+05,NaN,NaN,NaN,NaN,-9.717758e-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.910325e-01,NaN,NaN
std,3.868335e+06,8.098201e+13,1.747240e+08,4.586888e+05,5.912325e+05,0.000000e+00,NaN,0.000000e+00,0.000000e+00,2.122279e-01,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.256115e+00,0.000000e+00,0.000000e+00
min,0.000000e+00,1.252340e+12,1.325376e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-8.500000e+01,-1.800000e+02,-1.000000e+00,...,-6.000977e-01,-5.000000e-01,-3.999023e-01,-3.999023e-01,-3.999023e-01,-5.000000e-01,-6.000977e-01,-7.000000e-01,-7.001953e-01,-6.000977e-01
25%,1.363558e+06,6.260385e+13,1.409353e+09,9.999755e+02,2.607617e+04,9.997559e-02,8.668750e+01,-2.204688e+01,-3.151562e+01,-1.000000e+00,...,-3.000488e-01,0.000000e+00,1.999512e-01,-9.997559e-02,-3.999023e-01,-5.000000e-01,-6.000977e-01,-7.000000e-01,-7.001953e-01,-6.000977e-01
50%,3.619560e+06,1.220965e+14,1.442815e+09,1.123583e+05,2.279791e+05,3.800781e+00,1.860000e+02,2.802734e+00,3.201172e+00,-1.000000e+00,...,5.000000e-01,7.001953e-01,3.999023e-01,-9.997559e-02,-3.999023e-01,-3.000488e-01,-3.000488e-01,-2.000000e-01,-1.999512e-01,-3.000488e-01
75%,6.823377e+06,2.036858e+14,1.464638e+09,6.412097e+05,8.546421e+05,7.800781e+00,2.750000e+02,4.412500e+01,4.034375e+01,-1.000000e+00,...,1.599609e+00,8.999023e-01,8.999023e-01,1.200195e+00,1.500000e+00,1.900391e+00,2.199219e+00,2.400000e+00,2.599609e+00,2.599609e+00
max,1.396873e+07,2.812058e+14,1.480032e+09,4.430996e+06,1.245220e+07,1.023125e+02,5.110000e+02,8.481250e+01,1.800000e+02,1.000000e+00,...,1.599609e+00,8.999023e-01,8.999023e-01,1.200195e+00,1.500000e+00,1.900391e+00,2.199219e+00,2.400000e+00,2.599609e+00,2.599609e+00

In [2]:
data1[0].head()

NameError: name 'data1' is not defined